@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  margin: 20px auto;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
}
.Scoreboard {
  padding: 20px 0;
}
.score {
  padding-bottom: 5px;
  color: #CAFFBF;
}
.announcement {
  font-size: 1.25em;
}
.Game {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}
.cardDisplay {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.card {
  margin: 5px auto;
  background-image: linear-gradient(to bottom, #9BF6FF, #A0C4FF, #BDB2FF);
  padding: 10px;
  border: 5px solid #FFD6A5;
  border-radius: 5px;
  transform: scale(0.85, 0.85);
}
