@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #ffadad;
}
.App {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-height: 100vh;
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
}
.Scoreboard {
  padding: 20px 0;
}
.score {
  padding-bottom: 5px;
  color: #caffbf;
}
.announcement {
  font-size: 1.25em;
}
.Game {
  flex: 1;
  margin: 0 auto;
  width: 90%;
  text-align: center;
}
.WinMessage {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 20px 0;
}
.cardDisplay {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}
.card,
.winning-card {
  margin: 5px auto;
  background-image: linear-gradient(to bottom, #9bf6ff, #a0c4ff, #bdb2ff);
  padding: 10px;
  border: 5px solid #ffd6a5;
  border-radius: 5px;
  transform: scale(0.85, 0.85);
}
.win-announcement {
  font-size: 2em;
  color: #fdffb6;
  margin-top: 20px;
}
button {
  margin: 40px auto;
  border-radius: 5px;
  padding: 5px;
  font-size: 1em;
  text-align: center;
  background-color: #ffadad;
}
a {
  color: #ffadad;
  text-decoration: none;
}
